<div class="hp-curtain" #curtain>
    <div class="div-avatar">
        <div class="avatar"></div>
    </div>
    <div class="div-person">
        <div class="person">
            <h1>Hola!</h1>
            <h2>Soy Harold Portillo</h2>
            <h1 class="person-bottom">Full Stack Developer</h1>
            <div (click)="meetMe()" class="btn-met">Con&oacute;ceme <span class="material-icons md-24">navigate_next</span></div>
        </div>
    </div>
    <div class="div-navbar" [@routeAnimations]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
    </div>
</div>